{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            {% if user.es_administrador %}
                <h3>Bienvenido {{ user.nombre }}, como adminstrador!!</h3>
            {% elif user.es_granjero %}
                <h3>Bienvenido {{ user.nombre }}, como granjero!! </h3>
            {% elif user.es_veterinario %}
                <h3>Bienvenido {{ user.nombre }}, como veterinario!! </h3>
            {% endif %}
        </div>
        <div class="col-md-3">
            <a href="{% url 'registro-nave' %}" class="btn btn-success">Crear Nave</a>
            <a href="{% url 'registro-granjero' %}" class="btn btn-success">Crear Granjero</a>
            <a href="{% url 'registro-veterinario' %}" class="btn btn-success">Crear Veterinario</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="miGraficoDonut" width="400" height="400"></canvas>
  <script>
    const ctx = document.getElementById('miGraficoDonut').getContext('2d');
    const datos = {
      labels: ['Enero', 'Febrero', 'Marzo', 'Abril'],
      backgroundColor: ['#f44336', '#e91e63', '#9c27b0', '#673ab7'],
      data: [45, 25, 15, 15]
    };
    const miGraficoDonut = new Chart(ctx, {
      type: 'doughnut',
      data: datos,
      options: {
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          text: 'Gráfico Donut de Ventas',
          display: true,
        }
      }
    });
  </script>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
{% endblock %}
