{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row mb-2 mt-2">
        <div class="col-md-12 d-flex justify-content-between">
            <a href="{% url 'registro-raza' %}" class="btn btn-outline-success">Crear Raza</a>
            <a href="{% url 'registro-tipo' %}" class="btn btn-outline-warning">Crear Tipo</a>
            <a href="{% url 'registro-capa' %}" class="btn btn-outline-info">Crear Capa</a>
        </div>
    </div>

    <div class="row mb-2 mt-2">
        <div class="col-md-12">
            <table class="table table-dark table-hover">
                <caption>TABLA LISTA DE ANIMALES</caption>
                <thead>
                    <th>#</th>
                    <th>Nombre Nave</th>
                    <th>Nombre de Animal</th>
                    <th>Número de Animal</th>
                    <th>Raza</th>
                    <th>Capa</th>
                    <th>Tipo</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Altura</th>
                    <th>Peso</th>
                    <th>¿Es Semental?</th>
                    <th>Veces de Baja</th>
                    <th>¿Está Activo?</th>
                    <th>¿Está Vivo?</th>
                    <th>¿Está de Baja?</th>
                </thead>
                <tbody>
                    {% for animal in animales %}
                        <tr id="row-{{ animal.id }}">
                            <td>{{ animal.id }}</td>
                            <td>{{ animal.nave.nombre_nave }}</td>
                            <td>{{ animal.nombre }}</td>
                            <td>{{ animal.numero }}</td>
                            <td>{{ animal.raza }}</td>
                            <td>{{ animal.capa }}</td>
                            <td>{{ animal.tipo }}</td>
                            <td>{{ animal.fecha_nacimiento }}</td>
                            <td>{{ animal.altura }}</td>
                            <td>{{ animal.peso }}</td>
                            <td>{{ animal.es_semental }}</td>
                            <td>{{ animal.veces_baja }}</td>
                            <td>{{ animal.esta_activo }}</td>
                            <td>{{ animal.esta_vivo }}</td>
                            <td>{{ animal.esta_baja }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                const filas = document.querySelectorAll(".table-hover tbody tr");
                
                for (const fila of filas) {
                  fila.addEventListener("mouseover", () => {
                    fila.style.cursor = "pointer";
                    fila.style.backgroundColor = "#ccc";
                  });
                
                  fila.addEventListener("mouseout", () => {
                    fila.style.backgroundColor = "";
                  });
                }
            </script>
        </div>
    </div>
</div>

<script>
    {% for animal in animales %}
        const row{{animal.id}} = document.getElementById('row-{{animal.id}}')
        row{{animal.id}}.addEventListener('click', () => {
            window.location.href = '{% url 'detalle-animal' pk=animal.id %}'
        });
    {% endfor %}
</script>

{% endblock %}