{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>REGISTRAR NACIMIENTO</h4>
                <form method="post" action=".">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="lote" class="form-label">Seleccione Lote de Cubrición: </label>
                        <select name="lote" id="lote" class="form-select">
                    </div>
                        {% for lote in lotes %}
                            <option value="{{ lote.id }}">{{ lote.nombre }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-success">Continuar</button>
                    <button type="button" class="btn btn-outline-danger" onclick="volverAtras()">Volver Atrás</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}