{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="col-md-12">
            <form method="post" class="card" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <h2 class="text-center">Formulario de Registro de nueva raza de Animal</h2>
                    {% for field in form %}
                            {{ field.label_tag }} 
                            {{ field }}
                            {% if field.errors %}
                                <small>{{ field.errors|striptags }}</small> 
                            {% endif %}
                    {% endfor %}
            
                    <input type="submit" value="Crear Raza" class="form-control">
                    <button type="button" class="btn btn-success" onclick="volverAtras()">Volver Atrás</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}