{% extends 'base.html' %}
{% block content %}
	  <form method="post" class="card" novalidate>
	  	{% csrf_token %}
	    <h2 class="text-center">Acceso</h2>
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags }}</small> 
	        	{% endif %}
		{% endfor %}
		
		<input type="submit" value="Login" class="btn btn-primary full-width">
		<hr>
		<p class="text-center">¿Has olvidado tu contraseña? <a href="{% url 'password-reset' %}">Restablecer Contraseña</a></p>
		<p class="text-center">¿No tienes una cuenta? Regístrate!! <a href="{% url 'registro-administrador' %}">Regístrate</a></p>
	</form>
{% endblock %}