{% extends 'base.html' %}
{% block content %}
	  <form method="post" class="card" novalidate>
	  	{% csrf_token %}
	    <h2 class="text-center">He olvidado mi contraseña!!</h2>
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags }}</small> 
	        	{% endif %}
		{% endfor %}
		
		<input type="submit" value="Enviar email" class="btn btn-primary full-width">
		<hr>
		<p class="text-center">¿No tienes una cuenta? Regístrate !! <a href="{% url 'registro-administrador' %}">Únete ahora!</a></p>
	</form>
{% endblock %}