{% extends 'base.html' %}
{% block content %}
    <form method="post" class="card" novalidate>
        {% csrf_token %}
    <h2 class="text-center">Introduce tu nueva contraseña</h2>
    {% for field in form %}
            {{ field.label_tag }} 
            {{ field }}
            {% if field.errors %}
                <small>{{ field.errors|striptags }}</small> 
            {% endif %}
    {% endfor %}
    
    <input type="submit" value="Establecer Contraseña" class="btn btn-primary full-width">
    </form>
{% endblock %}