{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post" action=".">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre de la Enfermedad: </label>
                        <input id="nombre" name="nombre" class="form-control"
                            type="text" maxlength="30" required>
                    </div>

                    <button class="btn btn-success">Continuar</button>
                    <button type="button" class="btn btn-outline-danger" onclick="volverAtras()">Volver Atrás</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}