<footer class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h5>Mi sitio web</h5>
          <p>Un texto descriptivo sobre tu sitio web o empresa.</p>
        </div>
        <div class="col-sm-4">
          <h5>Enlaces</h5>
          <ul class="list-unstyled">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h5>Redes sociales</h5>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <hr>
      <p class="text-center">Copyright &copy; 2024 Mi sitio web</p>
    </div>
  </footer>