<footer class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h5>AgroConnect</h5>
          <p>AgroConnect ofrece una gestión completa para granjas, permitiendo el seguimiento de nacimientos, lotes de cubrición, y control de aislamientos por enfermedades, todo en una plataforma integrada y fácil de usar</p>
        </div>
        <div class="col-sm-6">
          <h5>DETALLES DE LA APLICACIÓN</h5>
          <ul class="list-unstyled">
            <li><a href="{% url 'dashboard' %}">Inicio</a></li>
            <li><a href="{% url 'lista-naves' %}">Naves</a></li>
            <li><a href="{% url 'lista-animales' %}">Animales</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <p class="text-center">Copyright &copy; 2024 AgroConnect</p>
    </div>
  </footer>