<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      {% if user.es_administrador %}
        <a class="navbar-brand" href="{% url 'dashboard' %}">AgroConnect</a>
      {% else %}
        <a class="navbar-brand" href="{% url 'dashboard-veterinario' %}">AgroConnect</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if user.es_administrador %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'lista-naves' %}">Naves</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'lista-animales' %}">Animales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'lista-veterinarios' %}">Veterinarios</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'dashboard-veterinario' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'lista-naves' %}">Naves</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'lista-animales' %}">Animales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Lotes de Cubrición</a>
            </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
                <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="nav-link">Salir</button>
                </form>
          </li>
                {% else %}
                <li>
                  <a href="{% url 'login' %}" class="nav-link">Acceder</a>
                </li>
                <li>
                  <a href="{% url 'registro-administrador' %}" class="nav-link">Regístrate</a>
                </li>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>